* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    min-height: 100%;
    background: linear-gradient(329.54deg, #29B6D1 0%, #00C7C7 100%);
}

a {
    text-decoration: none;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}

header nav {
    padding: 20px 20px;
}

header nav ul {
    list-style-type: none;
}

header nav li {
    display: inline-block;
    margin: 0 10px;
    font-size: 16px;
    text-transform: uppercase;
}

header nav a {
    color: black;
    text-decoration: none;
}

#container {
    height: 100%;
    min-height: 550px;
    margin-top: 80px;
    background-image: url('../images/fundo.svg');
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: 90% 40%;    /* 90% à direita e 40% abaixo */;
}

#page {
    display: none;
    background: linear-gradient(329.54deg, #29B6D1 0%, #00C7C7 100%);
    height: 100%;
    min-height: 530px;
}

#intro {
    height: 100%;
    width: 45%;
    min-height: 530px;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
}

#intro p {
    font-weight: 300;
    font-size: 18px;
}

#jumbotron {
    width: 52%;
}

#home {
    background-image: url('../images/fundoWeb.svg');
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: 105% 40%;    /* 90% à direita e 40% abaixo */
}

#contato {
    background-image: url('../images/fundoContato.svg');
    background-repeat: no-repeat;
    background-size: 46%;
    background-position: 100% 40%;    /* 90% à direita e 40% abaixo */
}

#contato input {
    margin-bottom: 10px;
}

#contato input[type=submit] {
    margin-top: 10px;
}

#sobre {
    background-image: url('../images/fundoAbout.svg');
    background-repeat: no-repeat;
    background-size: 46%;
    background-position: 100% 30%;    /* 90% à direita e 40% abaixo */
    height: 500px;
}

@media only screen and (max-width: 800px) {
    
    #jumbotron {
        width: 100%;
    }

  }